.titulo{
	background-color: rgba(275, 275, 275, .2);
	display: flex;
	margin-top: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}
.titulo img{
	margin: 15px auto;
	width: 60px;
}
.blog{
	background-color: rgba(275, 275, 275, .8);
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	margin: 20px 0;

}
.blog h2{
	margin: auto;
	margin-top: 33px;
	font-size: 22px;
	background: #25CC0F;
	background: linear-gradient(to bottom right, #25CC0F 27%, #669E22 53%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.blogContainer{
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 20px;

}

.blogContainer .vida{
	background-color:#fff;
	width: 90%;
	margin: 24px auto;

	/*border-radius: 20px;*/
	box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.5);
}
.blogContainer .vida .link{
	display: flex;

}
.blogContainer .vida h3{
	text-align: left;
	margin: 10px 22px;	
	font-size: 19px;
	color: #2B7A0B;	

}
.blogContainer .vida h4{
	text-align: left;
	margin: 5px 22px;	
	font-size: 17px;
	color: #7DCE13;	

}
.blogContainer .vida p{
	text-align: left;
	margin: 10px 22px;
	margin-bottom: 20px;
	font-size: 14px;	
	font-weight: 300;
	color: #333;
	height: 110%;
	padding-bottom: 20px;
}
.blogContainer .vida a{
	text-align: left;
	margin: 5px 22px;
	margin-bottom: 20px;
	font-size: 15px;
	text-decoration: none;	
	color: #5BB318 ;
}
.blogContainer img{
	width: 100%;
	
}
@media (min-width: 700px){
	.blogContainer{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
