.titulo{
	background-color: rgba(275, 275, 275, .8);
	display: flex;
	margin-top: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}
.titulo img{
	margin: 15px auto;
	width: 60px;
}
	.parent {
		background-color: rgba(275, 275, 275, .8);
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.parent div{
		display: flex;
	}
	
	.parent div video{
		object-fit: cover;
		margin: 5px auto;
		width: 75vw;
		height: 300px;
		padding: 5%;
		background: #fff;
		-webkit-box-shadow: 3px -3px 4px -1px rgba(35,15,5,0.68) ;
		box-shadow: 3px 5px 5px -1px rgba(35,15,5,0.68);
	}
.parentImg {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 5px 0;
	background-color: rgba(275, 275, 275, .8);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}
.parentImg div{
	display: flex;
	/*margin: 10px;*/
}
.parentImg div img{
	object-fit: cover;
	margin: 5px auto;
	width: 75vw;
	height: 280px;
	padding: 5%;
	background: #fff;
	-webkit-box-shadow: 3px -3px 4px -1px rgba(35,15,5,0.68) ;
	box-shadow: 3px 5px 5px -1px rgba(35,15,5,0.68);
}

	
@media (min-width: 700px){
	.parentImg {
		background-color: rgba(275, 275, 275, .8);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.parentImg div{
		display: flex;
	}
	.parentImg div img{
		object-fit: cover;
		margin: 10px auto;
		width: 28vw;
		height: 300px;
		padding: 5%;
		background: #fff;
		-webkit-box-shadow: 3px -3px 4px -1px rgba(35,15,5,0.68) ;
		box-shadow: 3px 5px 5px -1px rgba(35,15,5,0.68);
	}
	.parentImg div video{
		object-fit: cover;
		margin: 10px auto;
		width: 28vw;
		height: 300px;
		padding: 5%;
		background: #fff;
		-webkit-box-shadow: 3px -3px 4px -1px rgba(35,15,5,0.68) ;
		box-shadow: 3px 5px 5px -1px rgba(35,15,5,0.68);
	}
	.parent {
		background-color: rgba(275, 275, 275, .8);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.parent div{
		display: flex;
	}
	.parent div img{
		object-fit: cover;
		margin: 10px auto;
		width: 28vw;
		height: 300px;
		padding: 5%;
		background: #fff;
		-webkit-box-shadow: 3px -3px 4px -1px rgba(35,15,5,0.68) ;
		box-shadow: 3px 5px 5px -1px rgba(35,15,5,0.68);
	}
	.parent div video{
		object-fit: cover;
		margin: 10px auto;
		width: 28vw;
		height: 300px;
		padding: 5%;
		background: #fff;
		-webkit-box-shadow: 3px -3px 4px -1px rgba(35,15,5,0.68) ;
		box-shadow: 3px 5px 5px -1px rgba(35,15,5,0.68);
	}
}