.titulo{
	background-color: rgba(275, 275, 275, .8);
	display: flex;



}
.titulo img{
	margin: 20px auto;
	width: 60px;
}
.form{
	padding-top: 0px;
	display: flex;
	flex-direction: column;
	box-shadow: 4px 4px 7px 1px #777;
	margin: 20px;
	background-color: #fff;


}
.form h4{
	font-size: 23px;
	font-family: poppins;
	font-weight: 400;
	text-align: center;
	color: purple; 
	margin: 0;
	padding: 2px;
	padding-top: 12px;
}
.form input{
	margin: 10px;
	border: 1px solid #999;
	padding: 5px 10px;
	border-radius: 10px;


}
.form button{
	padding: 10px;
	border: 0;
	background-color: #ccc;

}
.form button:active{
	padding: 10px;
	background-color: #ddd;
}

.formContainer{
	
	background-color: rgba(275, 275, 275, .1);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	
	margin-bottom: 0px;
	width: 100%;
}

.formContainer h2{

	margin: 10px auto;
	text-align: center;
	margin-top: 20px;
	font-size: 22px;
	background: #25CC0F;
	background: linear-gradient(to bottom right, #25CC0F 27%, #669E22 53%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


}