
.navContainer{
	
	width: 100%;
	height: 249px;
	display: flex;
	flex-direction: column;
 background-color: #fff;
  /*background-attachment: fixed;*/
  /*background-image: url('/img/frutilla.jpg');*/
  /*background-size: 290px;*/
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.navContainer .div{
	overflow: hidden;

	background-color: rgba(275, 275, 275, .6);

	height: 249px;
	  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navContainer input{
	background-color: #fff;
	margin: 15px auto;
	padding: 5px 10px;
	width: 85%;
	border-radius: 5px;
	outline-color: #5BB318;
	border: 1px solid #5BB318;
	font-size: 22px;
}
.navContainer input::placeholder{
	font-size: 17px;
	color: #aaa;

}
.circulo{

	position: relative;
	border-radius: 100%;
	margin-left:33.8%;
	margin-top: 30px;
	height:77px;
	width: 77px;
	display: flex;
	background: radial-gradient(circle, rgba(250,198,68,1.372460496614) 78%, rgba(23,54,12,0.27765237020316) 100%);
	}

.nombre{
	display: flex;
}
.nombre h4{
	position: absolute;
	top: 66px;
	left: 33%;
	right: 33%;
	margin: 33px auto;
	background: #1ee01a; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #1ee01a, #256010); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #1ee01a, #256010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	font-size: 26px;
	font-family: poppins;
	letter-spacing: 2px;
	z-index: 9999999;
}
.navContainer nav{
	margin: 15px auto;
	display: flex;
    background: rgb(4,205,122);
	width: 90%;
	padding: 5px;
	border-radius: 20px;
	justify-content: space-around;
	    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.5);

}
.navContainer a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	padding: 5px;
}
.navInferiorContainer nav{
	width: auto;
    background: rgb(4,205,122);
	padding: 10px;
	display: flex;
	border-radius: 0;
	box-shadow: none;
	margin-top: 22px;



}
.navInferiorContainer button{
	margin: auto;
	color: #fff;
	text-align: center;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	cursor: pointer;

}
@media (min-width: 700px){
	.circulo{

	position: relative;
	border-radius: 100%;
	margin-left: 40%;

	margin-top: 37px;
	height:77px;
	width: 77px;
	display: flex;
	background: radial-gradient(circle, rgba(250,198,68,1.372460496614) 78%, rgba(23,54,12,0.27765237020316) 100%);
	}

.nombre{
	display: flex;
}
.nombre h4{
	position: absolute;
	top: 70px;
	left: 40%;
	
	margin: 40px auto;
	background: #1ee01a; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #1ee01a, #256010); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #1ee01a, #256010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	font-size: 26px;
	font-family: poppins;
	letter-spacing: 2px;
	z-index: 9999999;
}
}