.nosotrosContainer{
	background-color: rgba(257, 257, 257, .1);
	border-radius: 20px;
	padding: 25px;
	margin: 20px 0;
}
.nosotros{
	background: #fff;
	box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 0px 10px 0px rgba;
	padding: 20px;
	margin: 20px 10px;

}
.nosotros h4{
	font-size: 28px;
	font-family: poppins;
	font-weight: 400;
	text-align: center;
	color: purple; 
}
.nosotros span{
	font-size: 23px;
	font-family: poppins;
	font-weight: 400;
	text-align: center;
	color: #1ee01a; 
}
.nosotros p{
	font-size: 20px;
	font-family: cursive;
	text-align: center;
    color: #333;
}